<div class="main user-show">
  <div class="container">
    <div class="user">
      <%= image_tag(@user.image.url) if @user.image.present? %>
      <h2><%= @user.name %></h2>
      <p><%= @user.email %></p>
      <div class="posts-show-item">
        <% if Follow.find_by(user_id: @current_user.id, follow_user_id: @user.id) %>
          <%= link_to("/follows/#{@user.id}/destroy", {method: "post"}) do %>
            <span class="fa fa-user"></span>
          <% end %>
        <% else %>
          <%= link_to("/follows/#{@user.id}/create", {method: "post"}) do %>
            <span class="fa fa-user-plus"></span>
          <% end %>
        <% end %>
        <%= @follows_count %>
      </div>
      <% if @user.id == @current_user.id %>
        <%= link_to("編集", "/users/#{@user.id}/edit") %>
      <% end %>
    </div>

    <ul class="user-tabs">
      <li><%= link_to("投稿", "/users/#{@user.id}") %></li>
      <li><%= link_to("いいね!", "/users/#{@user.id}/likes") %></li>
      <li class="active"><%= link_to("フォロー", "/users/#{@user.id}/follows") %></li>
    </ul>

    <% @follows.each do |follow| %>
      <% user = User.find_by(id: follow.follow_user_id) %>
      <div class="users-index-item">
        <div class="user-left">
          <%= image_tag(user.image.url) if user.image.present? %>
        </div>
        <div class="user-right">
          <%= link_to(user.name, "/users/#{user.id}") %>
        </div>
      </div>
    <% end %>
  </div>
</div>
