<div class="main posts-index">
    <% @posts.each do |post| %>
      <div class="posts-index-item">
        <div class="post-left">
          <%= image_tag(post.user.image.url) if post.user.image.present? %>
        </div>
        <div class="post-right">
          <div class="post-user-name">
            <%= link_to(post.user.name, "/users/#{post.user.id}") %>
          </div>
        </div>
        <div class="post-index-title">
          <%= link_to(post.title, "/posts/#{post.id}") %>
        </div>
        <div class="post-category">
          <p><%= post.category %></p>
        </div>
        <%= image_tag(post.image.url) if post.image.present? %>
      </div>
    <% end %>
</div>
